<link rel="stylesheet" href="~/css/login.css">


<video autoplay muted loop id="myVideo">
    <source src="/images/stockvideoice.mp4" type="video/mp4">
</video>
      
<div class="content">
    <h1>Find a Hike</h1>
<!-- Map and rated hikes -->
<iframe style="width:100%; max-width:1200px; height:500px;" frameborder="0" scrolling="no" src="https://www.hikingproject.com/widget/map?favs=1&location=fixed&x=-13087675&y=5992146&z=5.7&h=500"></iframe>
<!-- END Hiking Project -->


</div>